/*Reiniciar el navegador para evitar diferencias de estilos*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
 /*Estlos generales del cuerpo de la pagina*/
body{
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        background: rgb(233, 152, 152);
        color:black;
}
/*Estilo para el encabezado con degradado*/
.site-headers{
    background: linear-gradient(90deg, #17c7aa,#2b0574);
    color:rgb(15, 147, 165);
    padding: 1rem;
    text-align: center;
}
